PRINT_BRIDGE_HOST=127.0.0.1
PRINT_BRIDGE_PORT=19001
PRINT_BRIDGE_PRINTER_QUEUE=Thermal58
PRINT_BRIDGE_PAPER_WIDTH_MM=58
PRINT_BRIDGE_CHARS_PER_LINE=32
PRINT_BRIDGE_ENCODING=cp857
PRINT_BRIDGE_CODEPAGE=13
PRINT_BRIDGE_ALLOWED_ORIGINS=https://ibul-ecommerce.web.app,http://localhost,http://localhost:3000,http://127.0.0.1,http://127.0.0.1:3000
PRINT_BRIDGE_HEALTHCHECK_QUEUE=true
PRINT_BRIDGE_CUT_MODE=partial
